baseURL = 'https://thestination.com/'
languageCode = 'hr'
title = 'Thestination'
defaultContentLanguage = 'hr'

enableRobotsTXT = true
enableGitInfo = true
enableEmoji = true

[params]
  description = 'Destination management service offering tailored travel experiences, event planning, and local logistics to make every journey seamless and unforgettable.'
  logo = '/favicon.ico'
  licence = 'Apache License'
  alpine = true
[params.links]
  email = 'lukabarbaric@gmail.com'
  instagram = ''
  facebook = ''
[params.author]
  name = "luka barbaric"
  email = 'lukabarbaric@gmail.com'

[languages]
  [languages.hr]
    languageCode = 'hr'
    languageName = 'Hrvatski'
    contentDir = 'content/hr'
    weight = 1
    [languages.hr.menus]
      [[languages.hr.menus.main]]
        name = 'Početna'
        pageRef = '/'
        weight = 10
      [[languages.hr.menus.main]]
        name = 'O nama'
        pageRef = '/about'
        weight = 20
      [[languages.hr.menus.main]]
        name = 'Odredišta'
        pageRef = '/destinations'
        weight = 30
  [languages.en]
      languageCode = 'en'
      languageName = 'English'
      contentDir = 'content/en'
      weight = 2
      [languages.en.menus]
        [[languages.en.menus.main]]
          name = 'Home'
          pageRef = '/'
          weight = 10
        [[languages.en.menus.main]]
          name = 'About'
          pageRef = '/about'
          weight = 20
        [[languages.en.menus.main]]
          name = 'Destinations'
          pageRef = '/destinations'
          weight = 30


[frontmatter]
  date = ['date', 'publishDate', 'pubdate', 'lastmod', 'modified']
  expiryDate = ['expiryDate', 'unpublishdate']
  lastmod = [':git', 'lastmod', 'modified', 'date', 'publishDate', 'pubdate']
  publishDate = ['publishDate', 'pubdate', 'date']

[module]
  [module.hugoVersion]
    extended = true
    min = "0.147.7"
  [[module.mounts]]
    source = "assets"
    target = "assets"
  [[module.mounts]]
    source = "layouts"
    target = "layouts"
  [[module.mounts]]
    source = "data"
    target = "data"
  [[module.mounts]]
    source       = "hugo_stats.json"
    target       = "assets/notwatching/hugo_stats.json"
    disableWatch = true
  [[module.mounts]]
    source = "node_modules/alpine-turbo-drive-adapter/dist"
    target = "assets/js/libs/alpinejs-turbolinks"
  [[module.mounts]]
    source = "node_modules/alpinejs/dist"
    target = "assets/js/libs/alpinejs"

[build.buildStats]
  enable = true
[[build.cachebusters]]
  source = "assets/notwatching/hugo_stats\\.json"
  target = "css"
[[build.cachebusters]]
  source = "(postcss|tailwind)\\.config\\.js"
  target = "css"
[[build.cachebusters]]
  source = 'layouts/.*'
  target = 'css'

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
    [markup.goldmark.parser]
      wrapStandAloneImageWithinParagraph = false
      [markup.goldmark.parser.attribute]
        block = true