{{- /*
Renders a button with the given title and URL.

@context {string} title The button text.
@context {string} url The target URL.

@example: {{ partial "button" (dict "title" "Read more" "url" "/about/") }}
*/}}

{{- $title := .title }}
{{- $url := .url }}

<a
  class="uppercase inline-block rounded-sm border border-white px-5 py-2.5 text-xs font-medium text-white hover:bg-white hover:text-black transition-all duration-300 ease-in-out focus:ring-3 focus:outline-hidden"
  href="{{ $url }}"
  >
  {{ $title }}
</a>
