<section 
  class="bg-gray-50 h-fit overscroll-y-scroll bg-cover bg-fixed bg-center bg-no-repeat py-8 overflow-hidden"
  style="{{ with resources.Get "img/aerial-photo-of-city.jpg" }}background-image:url('{{ .RelPermalink }}');{{ end }}">
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-lg text-center">
      <h2 class="text-2xl font-bold text-white md:text-3xl uppercase">
        Find your experience
      </h2>

      <p class="hidden text-white sm:mt-4 sm:block">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae dolor officia blanditiis
        repellat in, vero, aperiam porro ipsum laboriosam consequuntur exercitationem incidunt
        tempora nisi?
      </p>
    </div>

    <div class="mx-auto mt-8 max-w-xl">
      <div class="mt-4 flex w-full items-center justify-center">
        {{ partial "button" (dict "title" "Enquire Now" "url" "/contact/") }}
      </div>
    </div>
  </div>
</section>