<div class="mx-auto max-w-screen-xl space-y-8 px-4 py-16 sm:px-6 lg:space-y-16 lg:px-8">
  <div class="sm:flex sm:items-center sm:justify-between">
    <div class="text-teal-600">
      
    </div>

    <ul class="mt-8 flex justify-start gap-6 sm:mt-0 sm:justify-end">
      <li>
        <a href="{{ .Site.Params.links.facebook }}" rel="noreferrer" target="_blank" class="text-gray-700 transition hover:opacity-75">
          <span class="sr-only">Facebook</span>

          {{ partial "utils/icon" (dict "name" "facebook" "attributes" "height=24") }}
        </a>
      </li>

      <li>
        <a href="{{ .Site.Params.links.instagram }}" rel="noreferrer" target="_blank" class="text-gray-700 transition hover:opacity-75">
          <span class="sr-only">Instagram</span>

          {{ partial "utils/icon" (dict "name" "instagram" "attributes" "height=24") }}
        </a>
      </li>
    </ul>
  </div>

  <div
    class="grid grid-cols-1 gap-8 border-t border-gray-100 pt-8 sm:grid-cols-2 lg:grid-cols-4 lg:pt-16"
  >
    <div>
      <p class="font-medium text-gray-900">Contact Us</p>

      <ul class="mt-6 space-y-4 text-sm">
        <li>
          <a href="mailto:{{ .Site.Params.author.email }} " class="text-gray-700 transition hover:opacity-75">{{ .Site.Params.author.email }} </a>
        </li>
      </ul>
    </div>

    <div>
      <p class="font-medium text-gray-900">Useful Information</p>

      <ul class="mt-6 space-y-4 text-sm">
        {{ range .Site.Menus.useful }}
        <li>
          <a class="text-gray-700 transition hover:opacity-75" href="{{ .URL | absLangURL }}" title="{{ .Title | default .Name }}">
              {{ .Pre }}<span>{{ i18n .Identifier | default .Name}}</span>{{ .Post }}
          </a>
        </li>
        {{ end }}
      </ul>
    </div>

    <div>
      <p class="font-medium text-gray-900">Popular destinations</p>

      <ul class="mt-6 space-y-4 text-sm">
        {{ range where site.Pages "Type" "destinations" }}
          <li>
            <a href="{{ .RelPermalink }}" class="text-gray-700 transition hover:opacity-75">
              {{ .LinkTitle }}
            </a>
          </li>
        {{ end }}
      </ul>
    </div>

    <div>
      <p class="font-medium text-gray-900">Legal</p>

      <ul class="mt-6 space-y-4 text-sm">
        {{ range .Site.Menus.legal }}
        <li>
          <a class="text-gray-700 transition hover:opacity-75" href="{{ .URL | absLangURL }}" title="{{ .Title | default .Name }}">
              {{ .Pre }}<span>{{ i18n .Identifier | default .Name}}</span>{{ .Post }}
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>

  <p class="text-xs text-gray-500">&copy; {{ now.Year }}. Company Name. All rights reserved.</p>
</div>

<button id="scrollToTopBtn"
        class="fixed bottom-8 right-8 animate-bounce cursor-pointer shadow-lg bg-black p-2 rounded-full transition-opacity duration-300 ease-in-out"
        onclick="window.scrollTo({ top: 0, behavior: 'smooth' })">
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
    <path fill="currentColor"
          d="m11 7.825l-4.9 4.9q-.3.3-.7.288t-.7-.313q-.275-.3-.288-.7t.288-.7l6.6-6.6q.15-.15.325-.212T12 4.425q.2 0 .375.063t.325.212l6.6 6.6q.275.275.275.688t-.275.712q-.3.3-.713.3t-.712-.3L13 7.825V19q0 .425-.288.713T12 20q-.425 0-.713-.288T11 19V7.825Z" />
  </svg>
</button>