<section>
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-screen-xl">
      <h3 class="text-2xl font-bold md:text-3xl">
        Make this itinerary yours
      </h3>
      <div class="mx-auto mt-8">
        <div class="sm:flex sm:gap-4">
          <p class="sm:flex-1">
            Each and every trip is tailored exactly to who you are and what you want to do So tell us about yourself and we’ll create something that’s entirely you.
          </p>
          <div class="my-auto">
            {{ partial "button" (dict "title" "Enquire Now" "url" "/contact/" "color" "black") }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>