{{ define "main" }}
<section>
  <article class="prose lg:prose-xl max-w-none prose-img:mx-auto text-pretty">
    {{ .Content }}
  </article>
</section>
<div x-data="{ open: false }" class="p-6 max-w-7xl mx-auto py-8">

  <div class="flex justify-between items-center mb-4 py-6">
    <h1 class="text-3xl font-medium upper">Destinations</h1>
    <div class="inline-flex">
      <button @click="open = !open" class="cursor-pointer rounded-l-sm border border-gray-200 bg-gray-100 p-2 text-gray-700 transition-colors hover:bg-gray-50 hover:text-gray-900 focus:z-10 focus:ring-offset-2 focus:ring-offset-white focus:outline-none disabled:pointer-events-auto disabled:opacity-50">
        {{ partial "utils/icon" (dict "name" "grid" "attributes" "height=24") }}
      </button>

      <button @click="open = !open" class="cursor-pointer -ml-px rounded-r-sm border border-gray-200 bg-gray-100 p-2 text-gray-700 transition-colors hover:bg-gray-50 hover:text-gray-900 focus:z-10 focus:ring-offset-2 focus:ring-offset-white focus:outline-none disabled:pointer-events-auto disabled:opacity-50">
        {{ partial "utils/icon" (dict "name" "list" "attributes" "height=24") }}
      </button>
    </div>
  </div>

  <div x-show="!open" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 transition-all duration-300 ease-in-out">
    {{ range .Pages }}
    <a href="{{ .RelPermalink }}" class="relative h-48 bg-white shadow-md rounded overflow-hidden hover:shadow-2xl transition-shadow duration-300 flex justify-center items-center">
      <img src="{{ with .Resources.GetMatch .Params.thumbnail }}{{ .RelPermalink }}{{ end }}" alt="{{ .Title }}" class="absolute inset-0 w-full h-48 object-cover">
      <div class="p-4 relative">
        <h2 class="text-xl font-semibold text-white uppercase">{{ .Title }}</h2>
      </div>
    </a>
    {{ end }}
  </div>

  <div x-show="open" class="transition-all duration-300 ease-in-out">
    <ul>
      {{ range .Pages }}
      <li class="p-2">
        <a href="{{ .RelPermalink }}" class="uppercase text-gray-700 transition hover:opacity-75">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
</div>
{{ partial "cta" . }}

{{ end }}